<!doctype html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">

    <link rel="search" href="/assets/opensearch.xml"
          type="application/opensearchdescription+xml"
          title="React Starter by Stö 4 Veeck"/>

    <title>React Starter by Stö 4 Veeck</title>
</head>

<body class="Site">
<div id="app" class="Site"></div>
</body>
</html>